## Analysis 04: Count Statistics Analysis on Hashtags

##### GETTING THE DATA

In [18]:
import pandas as pd

data4 = pd.read_csv(r'C:\Users\Raheyma Arshad\Desktop\INFO 5731 Term Project\Vaccine Tweets (Without Location).csv')
del data4['Unnamed: 0']

# Lowercasing
data4['tweet'] = data4['tweet'].str.lower()

##### EXTRACTING THE HASHTAGS

In [19]:
def extract_hashtag(x):
    L = [i  for i in x.split() if i.startswith("#")]
    return L

data4['hashtags'] = data4['tweet'].apply(lambda x: extract_hashtag(x))
data4.head()

,tweet,hashtags
0,#drfauci #billgates #melindagates #saynotovacc...,"[#drfauci, #billgates, #melindagates, #saynoto..."
1,how close are we to having a #covid_19vaccine?...,"[#covid_19vaccine?, #issue6, #drpeterdurcan,, ..."
2,#china is inoculating its own population. chin...,"[#china, #covid_19vaccine]"
3,contact us for any queries and submission: gas...,"[#gastroenterology, #covid19, #covid_19vaccine..."
4,russian sputnik v trials in india to begin soo...,"[#russiansputnikvtrials, #russia, #covid_19vac..."

##### COUNTING THE HASHTAGS

In [20]:
hashtag_counts = {}

for hashtag_list in data4['hashtags']:
    for hashtag in hashtag_list:
        if hashtag in hashtag_counts:
            hashtag_counts[hashtag] = hashtag_counts[hashtag] + 1
        else:
            hashtag_counts[hashtag] = 1
        
hashtags_df = pd.DataFrame(list(hashtag_counts.items()), columns = ['hashtag','Number of times']) 
hashtags_df.sort_values('Number of times', inplace=True, ascending=False)
hashtags_df

                    hashtag  Number of times
53      #coronavirusvaccine            27423
207           #covidvaccine            20463
44             #coronavirus            17666
17                 #covid19            17516
125          #coronavaccine            15053
...                     ...              ...
4710  #stoplyingmaryamnawaz                1
4711        #alllivesmatter                1
4712               #pakarmy                1
4487            #modiatunga                1
4709        #jildexperience                1

[9530 rows x 2 columns]